body {
  background-color: rgb(0, 0, 0);
}

h1,
p,
h3 {
  color: ivory;
  font-family: "JetBrains Mono", monospace;
}

.main {
  text-align: center;
}

.top-container {
  background-color: #000000;
  text-align: center;
}

.top-pic {
  height: 250px;
  width: 250px;
  border-style: double;
  border-color: ivory;
}

.middle-container {
  background-color: rgb(0, 0, 0);
  text-align: center;
}
